$font-stack-body: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-stack-heading: Lora, Georgia, Times, "Times New Roman", serif;

$color-primary: #FAFAFA;
$color-secondary: #EEE;
$font-color: #2A2A2A;
$article_separator-color: #DDD;


/* Global styling */

body {

  font-family: $font-stack-body;
  color: $font-color;
  background-color: $color-primary;

  &>header {
    background-color: $color-secondary;
  }

  header {
    padding:1em;
  }

  h1 {
    font-family: $font-stack-heading;
  }

  a {

    color: $font-color;
    text-decoration: none;

    &:hover {
      text-decoration:none;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    padding: 1em;
  }

  .link-placeholder {
    color: grey;
  }

  article {
    display:block;
    margin: 0 auto;
    border-bottom: 1px solid $article-separator-color;
  }
}

footer {
  text-align: right;

  nav {
    margin-top: 1em;
  }
}

nav a {
  margin-left: 1em;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body>header h1 {
    font-size: 1.2em;
  }

  article>header {
    h1 {
      font-size: 1.1em;
    }

    time, address {
      font-size: 0.6em;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 768px) {

  body>header {
    h1 {
      margin-left: 1em;
    }
  }

  article {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) /*and (max-width: 979px)*/ {
  body {
    width: 90%;

    main {
      margin-left: 1em;
    }
  }

  body>header {
    h1 {
      position: relative;
      left: 2em;
    }
  }

  article {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}

/* Large desktop */
@media (min-width: 1200px) {

}