html, body {
  height: 100%;
  min-height: 100%; }

  body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 90%;
    color: #2A2A2A;
    background-color: #FAFAFA; }

    h1 {
      font-family: Lora, Georgia, Times, "Times New Roman", serif; }

      a {
        color: #2A2A2A;
        text-decoration: none; }

        a:hover {
          text-decoration: underline; }

          .link-placeholder {
            color: grey; }

            nav a {
              margin-left: 1em; }

              body > header {
                padding-left: 5em;
                background-color: #EEE;
                font-size: 1.7em; }

                header {
                  width: 100%;
                  padding-top: 1em;
                  padding-bottom: 1em;
                  margin-bottom: 2em; }

                  main {
                    padding-left: 5em;
                    padding-right: 2em;
                    padding-bottom: 1em; }

                    main h2 {
                      font-size: 80%; }

                      article {
                        margin: 0 auto;
                        border-bottom: 1px solid #DDD;
                        width: 70%;
                        padding-left: 1em; }

                        article header {
                          border: none;
                          box-shadow: none; }

                          article header h1 {
                            display: block;
                            font-size: 3em; }

                            article header time, article header address {
                              margin: 1em;
                              display: inline;
                              font-size: 70%; }

                              article p {
                                font-size: 1.3em;
                                padding-right: 2em;
                                line-height: 1.7em;
                                margin-bottom: 1.2em; }

                                article p:first-child {
                                  margin-top: 2em; }

                                  footer {
                                    margin-top: 1em;
                                    font-size: 70%; }

                                    table {
                                      width: 100%; }

                                      fieldset {
                                        border: 1px solid lightgrey; }

                                        legend {
                                          font-size: 0.8em;
                                          color: gray; }

                                          form label {
                                            display: inline-block;
                                            width: 6em;
                                            text-align: right;
                                            vertical-align: top; }

                                            form .form-block {
                                              margin-top: 0.5em;
                                              margin-bottom: 0.5em; }

                                              form#login-form label {
                                                width: 7em; }

                                                form#new-user input[type=text], form#new-user input[type=password] {
                                                  width: 25%; }

                                                  form#new-article input[type=text], form#edit-article input[type=text] {
                                                    width: 80%; }

                                                    form#new-article textarea, form#edit-article textarea {
                                                      width: 80%;
                                                      height: 30em; }

                                                      footer {
                                                        text-align: right;
                                                        font-size: 1em;
                                                        padding-top: 2em;
                                                        padding-bottom: 1em; }
