{% extends get_theme_file('base.html') %}

{% block body %}
  <form id="new-user" action="{{ url_for('admin_create_user') }}" method="post">
    <fieldset>
      <legend>Create User</legend>
      <div class="form-block">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" required>
      </div>
      <div class="form-name">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-block">
        <label for="roles">Roles</label>
        {% for role in roles %}
          <label for="role-{{ role.name }}" class="checkbox-label">{{ role.name | title }}</label>
          <input type="checkbox" name="roles"  id="role-{{ role.name }}" value="{{ role.name }}" {% if role.name == 'author' %} checked {% endif %}>
        {% endfor %}
      </div>
    </fieldset>
    <div class="form-block">
      <input type="submit" value="Create User">
    </div>
  </form>

  <table>
    {% for user in users %}
      <tr>
        <td><a href="{{ url_for('admin_display_user', user_login=user.login) }}">{{ user.login }}</a></td>
        <td>{% for role in user.roles %} {{ role.name }} {% endfor %}</td>
        <td><a href="{{ url_for('admin_delete_user', user_login=user.login) }}">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}