{% extends 'base.html' %}

{% block body %}
    <form action="{{ url_for('admin_create_user') }}" method="post">
        <label for="login">User Login</label>
        <input type="text" id="login" name="login" required>
        <label for="password">User Password</label>
        <input type="password" id="password" name="password" required>
        <label for="roles">Roles</label>
        <label for="role-author">Author</label>
        <input type="checkbox" name="roles"  id="role-author" value="author" checked>
        <label for="role-amdin">Admin</label>
        <input type="checkbox" name="roles" id="role-admin" value="admin">
        <input type="submit" value="Create User">
    </form>

    <table>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('admin_display_user', user_login=user.login) }}">{{ user.login }}</a></td>
                <td>{% for role in user.roles %} {{ role.name }} {% endfor %}</td>
                <td><a href="{{ url_for('admin_delete_user', user_login=user.login) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}