<!DOCTYPE html>
<html>
  <head>
    <title>Blog {% if title %} | {{title}} {% endif %}</title>
    <meta charset="utf-8">
    {% assets 'scss_web' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1><a href="{{ url_for('index') }}">Blog</a></h1>
        <nav>
          {% if user_has_role('admin') %}
            <a href="{{ url_for('admin') }}">Admin</a>
          {% endif %}
          {% if user_has_role('author') %}
            <a href="{{ url_for('author') }}">Author</a>
          {% endif %}
          {% if user_logged_in() %}
            <a href="{{ url_for('logout') }}">Log Out</a>
          {% elif title != 'Login' %}
            <a href="{{ url_for('login') }}">Log In</a>
          {% endif %}
        </nav>
      </header>
        <main>
          {% if title %}<h2>{{ title }}</h2>{% endif %}
          {% block body %}{% endblock %}
        </main>
    </div>
  </body>
</html>