<!DOCTYPE html>
<html>
    <head>
        <title>Blog {% if title %} | {{title}} {% endif %}</title>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='styles/web.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Blog</h1>
                <nav>
                    <a href="/index">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <a href="/links">Links</a>
                </nav>
                {% if title %}<h2>{{ title }}</h2>{% endif %}
            </header>
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>
                {% if user_has_role('admin') %}
                    <a href="/admin">Admin</a>
                {% endif %}
                {% if user_has_role('author') %}
                    <a href="/author">Author</a>
                {% endif %}
                {% if user_logged_in() %}
                    <a href="/logout">Log Out</a>
                {% elif title != 'Login' %}
                    <a href="/login">Log In</a>
                {% endif %}
            </footer>
        </div>
    </body>
</html>