{% extends get_theme_file('base.html') %}

{% block body %}
  <article>
    {% if article %}
      <header>
        <h1>{{ article.title | title }}</h1>
        <time>{{ article.publication_date }}</time>
        <address>{{ article.author.login }}</address>
      </header>
      {{ article.text | safe}}
      <footer>
      <nav>
          {% if previous %}
            <a href="{{ url_for('article_display', article_id=previous.id_) }}">Previous</a>
          {% endif %}
          {% if next %}
            <a href="{{ url_for('article_display', article_id=next.id_) }}">Next</a>
          {% endif %}
          {% if user_logged_in() and ((user_login() == article.author.login) or user_has_role('editor')) %}
            <a href="{{ url_for('article_edit', article_id=article.id_) }}">Edit</a>
            <a href="{{ url_for('article_delete', article_id=article.id_) }}">Delete</a>
          {% endif %}
        </nav>
      </footer>
    {% else %}
      <p>Article not found.</p>
    {% endif %}
  </article>
{% endblock %}
