{% extends get_theme_file('base.html') %}

{% block body %}
  <form id="new-article" method="post" action="{{ url_for('article_create') }}">
    <fieldset>
      <legend>New Article</legend>
      <div class="form-block">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-block">
        <label for="snippet">Snippet</label>
        <input type="text" id="snippet" name="snippet" required>
      </div>
      <div class="form-block">
        <label for="text">Text</label>
        <textarea id="text" name="text" required></textarea>
      </div>
      <div class="form-block">
        <input type="submit" value="Publish Article">
      </div>
    </fieldset>
  </form>

  <div>
    <table>
      {% for article in articles %}
        <tr>
          <td><a href="{{ url_for('article_display', article_id=article.id_) }}">{{ article.title }}</a></td>
          <td>{{ article.snippet }}</td>
          <td>{{ article.publication_date }}</td>
          <td><a href="{{ url_for('article_edit', article_id=article.id_) }}">Edit</a></td>
          <td><a href="{{ url_for('article_delete', article_id=article.id_) }}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}