{% extends get_theme_file('base.html') %}

{% block body %}
  {% for article in articles %}
    <article>
      <header>
        <h1><a class="headline-link" href="{{ url_for('article_display', article_id=article.id_) }}">{{ article.title | title }}</a></h1>
        <time>{{ article.publication_date }}</time>
        <address> {{ article.author.login }}</address>
      </header>
      <p>{{ article.snippet }}</p>
    </article>
    {% else %}
      <p>No content found.</p>
  {% endfor %}
    {% if articles %}
      <footer>{{ pager | safe}}</footer>
    {% endif %}
{% endblock %}
