{% extends get_theme_file('base.html') %}

{% block body %}
  <form id="login-form" method="post" action="/login">
    <fieldset>
      <legend>User Login</legend>
      <div class="form-block">
        <label for="login-name">Login name</label>
        <input type="text" id="login-name" name="login-name" required>
      </div>
      <div class="form-block">
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="login-password" required>
      </div>
      <div class="form-block">
        <input type="submit" value="Login">
      <div class="form-block">
    </fieldset>
  </form>
{% endblock %}
