* {
  font-family: Helvetica, Verdana, Geneva, sans-serif; }

  body {
    background-color: #465B76;
    padding-left: 2em; }

    header {
      width: 60%;
      background-color: #C8D6E9;
      margin-bottom: 2em;
      border: 1px solid gray;
      box-shadow: 1px 1px 1px black;
      padding-left: 1em;
      padding-right: 2em; }
      header h1 {
        display: inline-block;
        margin-right: 1em; }
        header nav {
          display: inline-block; }

main {
  width: 60%;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  background-color: #E6EFFA;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px black; }
  main h2 {
    font-size: 80%; }
    main article {
      border-bottom: 1px solid #465B76;
      background-color: #E6EFFA; }
      main article header {
        border: none;
        box-shadow: none;
        background-color: #E6EFFA; }
        main article header h1 {
          display: block; }
      main article span {
        font-size: 70%; }
        main article p {
          font-size: 80%;
          padding-left: 1em; }

footer {
  margin-top: 1em;
  font-size: 70%; }
